<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Guarida del Dragón</title>
    <script src="https://kit.fontawesome.com/ce21b579cc.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Kelly+Slab&family=MedievalSharp&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">


</head>

<body>
     <!-- Navbar -->
    <%- include('./partials/headerNavbar') %>

    <!-- Header -->
    <header>

    <%- include('./partials/headerMain') %>

    </header>
    
    <section class="novelties">
        
        <h3>Novedades</h3>
        
    <div class="main-container">
        <% for (let i = 0; i < products.length; i++){%>
    <article class="display-product">
        <h4><%=products[i].title%><i class="fab fa-hotjar"></i></h4>
        <img src="/img/<%=products[i].img%>" alt="imagen de producto">
        <div class="display-description">
        <i class="fas fa-hand-point-right"></i>
        <p class="price">$<%=products[i].price%></p>
        <p class="description"><%=products[i].shortDescription%></p>
        
    </div>
    </article>
    <%}%>
    </div>
    </section>

    <section class="offers">
        <h3>Ofertas de la semana</h3>

    <div class="main-container">
        <% for (let i = 0; i < products.length; i++){%>
    <article class="display-product">
        <h4><%=products[i].title%></i></h4>
        <img src="/img/<%=products[i].img%>" alt="imagen de producto">
        <div class="display-description">
        <i class="fas fa-hand-point-right"></i>
        <p class="price">$<%=Math.round(products[i].price - (products[i].price * products[i].discountPercentage / 100))%></p>
        <p class="discount">-<%=products[i].discountPercentage%>%<i class="fas fa-tag"></i></p>
        <p class="description"><%=products[i].shortDescription%><p>
    </div>
    </article>
    <%}%>
    </div>
    </section>

    <!-- Footer -->
    <%- include('./partials/footer') %>



</body>
</html>