<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Guarida del Dragón</title>
    <script src="https://kit.fontawesome.com/ce21b579cc.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Kelly+Slab&family=MedievalSharp&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="/css/styleproduct.css" rel="stylesheet">
</head>

<body>
     
       <!-- Navbar -->
       <%- include('./partials/headerNavbar') %>

    <header>
        <h3>Listado de Productos</h3>
    </header>
    <section class="products">
    <section class="main-product">
    <div class="main-container">
        <% for (let i = 0; i < products.length; i++){%>  
        <article class="display-product">
            <a href="/products/detail/<%=products[i].id%>">
                <img src="/img/<%=products[i].image%>" alt="">
            </a>

                <div class="main-article">
                <hr>    
                <h4 class="product-name"><%=products[i].title%></h4>
                <p class="product-price">$<%=products[i].price%></p>
                <hr>

                <div class="quantity-and-cart-block">
                <div class="product-quantity-class">
                <label for="product-quantity">Elige la cantidad:</label>
                <input list="product-quantity1" placeholder="0" id="product-quantity">
                <datalist id="product-quantity1">
                        <option value="0">
                        <option value="1">
                        <option value="2">
                        <option value="3">
                        <option value="4">
                        <option value="5">
                </datalist>
                </form>
                </div>
                </div>
                


                </div>

               
        </article>
        <%}%>
        </div>
    </section>

    <!-- Footer -->
    <%- include('./partials/footer') %>


</body>
</html>