<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
     <!-- Navbar -->
     <%-include('./partials/headerNavbar')%>
     
<img src="/img/avatars/<%= locals.userLogged.avatar %>" width="40" style= 'border-radius: 180%' alt="avatar">    
<h2>Bienvenido <%= locals.userLogged.userAlias %></h2>

<form action="/users/profileToEdit/<%=locals.userLogged.id%>?_method=PUT" method="get">
   
        
    <button class="logout" href="/users/profileToEdit">Editar información</button>    
</form>

<form action="/users/logout" method="get">

<button class="logout">Cerrar sesión</button>

</form>

<form action="/" method="get">

<button class="logout">HOME</button>

</form>

<form action="/products/addproduct/" method="get">

    <button class="logout">Agregar producto</button>
    
    </form>
    

    <!-- Footer -->
    <%- include('./partials/footer') %>
</body>
</html>