<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de <%= locals.userLogged.userAlias %></title>
    <link rel="stylesheet" href="/css/styleuserprofile.css">
</head>
<body>

     <!-- Navbar -->
     <%- include('./partials/headerNavbar') %>
     
<section class="user-profile">
  <img class="avatar-profile" src="/img/avatars/<%= locals.userLogged.avatar %>"  alt="avatar">    
  <h2>Bienvenido <div class="user-text"><%= locals.userLogged.userAlias %></div></h2>

<div class="button-container">

<form class="button-form" action="/" method="get">

    <button class="button">Home</button>
   
</form>

<form class="button-form" action="/users/profileToEdit/<%=locals.userLogged.id%>?_method=PUT" method="get">
   
    <button class="button" href="/users/profileToEdit">Editar información</button>

</form>

<form class="button-form" action="/products/addproduct/" method="GET">

    <button class="button">Agregar producto</button>
    
</form>

<form class="button-form" action="/users/logout" method="get">

    <button class="button">Cerrar sesión</button>

</form>
</div>
</section>

    <!-- Footer -->
    <%- include('./partials/footer') %>

</body>
</html>